/* / { ... } の外側に書くことで、他の全ての定義が終わった後に適用させます */
&trackball {
    status = "okay";
};

/ {
    /* 念のため、ノードが存在する場合のみ有効になるように記述 */
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
        input-processors = <&zip_temp_layer 5 1000>;
    };
};
