/ {
    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
        /* トラックボールを動かしたらレイヤー5（mouse_layer）へ。1秒(1000ms)動きがなければ戻る */
        input-processors = <&zip_temp_layer 5 1000>;
    };
};
